body {
  width: 100%;
}
.contain-page {
  /* margin: auto; */
  /* padding: auto; */
}

/* --------------------------Navbar---------------------------------- */

.logo {
  width: 68px;
  height: 68px;
}
.navbar {
  /* position: fixed; */
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
  height: 5rem;
  opacity: 0.8;
  background-color: #fa2fb5;
}



.header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
  /* margin: 0; */
  /* padding: 0; */
  height: 630px;
}
.navbar-nav .nav-link.active{
  color: none;
}










.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.nav-menu ul {
  display: flex;
  padding: 0;
}
.nav-menu li a{
  color: #fff;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #fa2fb5;
}
.hamburger {
  border: 0;
  color: #fff;


}

.contain-page {
  /* background-image: url("./Images/téléchargement\ \(2\).jpg"); */
  /* height: auto; */
  background-repeat: no-repeat;
}

/* -----------------------------Navbar------------------------------------ */
/* --------------------------------CONTACT--------------------------- */
.reviews {
  color: #ffc23c;
}
.red {
  margin: 8px;
  font-family: "Montserrat";
  color: #000000;
  font-weight: bold;
  /* font-size: 20px; */
}
.next-icone {
  width: 32px;
  height: 32px;

  background-color: #ffc23c;
  border-radius: 50%;
}
.contact {
  background-color: #fff;
  height: 130px;
  margin: 0;
}

/* -------------------FOOTER---------------------------------- */
.footer-title {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
}

.twitter {
  background: #1da1f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.facebook {
  background: #2642af;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.footer {
  width: 100%;
  height: 430px;
}
.google-plus {
  background: #db4a39;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.btn-footer {
  background-color: #ffc23c;
  border: none;
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat";
}
.form-input input {
  height: 40px;
  width: 220px;
  border: 1px solid #fff;
  caret-color: red;
}
.icons {
  
  /* padding-left: 10px; */
}
ul li a {
  text-align: start;
  color: #929fba;
  text-decoration: none;
}
ul li {
  list-style: none;
}
.table {
  height: 630px;
  background: red;
}
.hr {
  /* centre verticalement les enfants entre eux */
  align-items: center;
  color: #929fba;
  /* active flexbox */
  display: flex;
  font-size: 18px;
  font-family: "Flow";

  /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
  text-align: center;
}

.hr::before,
.hr::after {
  /* remplir le fond du trait permet également d’utiliser des images ou dégradés ! */
  border: 1px solid red;
  /* nécessaire pour afficher les pseudo-éléments */
  content: "";

  /* partage le reste de la largeur disponible */
  flex: 1;

  /* l’unité « em » garantit un ratio constant avec la taille du texte */
  height: 0.025em;

  /* espace les traits du texte */
  margin: 0 0.5em;
}

.header-text {
  font-size: 3rem;
  font-family: "Flow";
  animation: 4s anim-lineUp ease-out ;

}



@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}









.food {
  color: #ffc23c;
}
.image {
  width: 894px;
  /* height: 430px; */
}
.book-image {
  margin-top: -30px;
  width: 298px;
}

.card {
  border: none;
}
.h1 {
  font-family: "MontserratRegular";
  font-size: 2rem;
  font-weight: bold;
}
.p {
  font-family: "MontserratRegular";
  color: #b9bcc3;
  line-height: 1.5rem;
  font-size: 14px;
}
.img-signature {
  width: 98px;
  /* height: auto; */
}
.img-menu {
  width: 100%;
  /* height: auto; */
}

/*  */
.h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
}
/* ---------------------------MENU-------------------- */
.contain {
  position: relative;
  width: 100%;
  /* max-width: 400px; */
}

.img-menu {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ffc23c;
}

.contain:hover .overlay {
  opacity: 0.9;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-user {
  font-family: "Flow";
  animation-duration: 3s;
  animation-name: slidein;
  font-size: 22px;
  animation-iteration-count: infinite;
}
.fa-user:hover {
  color: #eee;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.menu {
  margin-top: 111px;
}
.contain-menu {
  background-color: #fff;
  height: 700px;
  /* height: auto; */
}

.contain-title {
  height: 230px;
}
.card {
  margin-top: -90px;
}
.h2 {
  margin-top: 93px;
  font-family: "Flow";
}
.card-menu {
  width: 100%;
}
.p-menu {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
}
.span {
  color: #fa2fb5;
}
.tel,
.prix {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
}
.prix {
  color: #ffc23c;
}
.contain-foodMenu {
  /* height: 530px; */
  background-image: url("./Images/side-image-layer02.png");
  background-repeat: no-repeat;
  /* background-position:left top; */
  /* margin-top: 59px; */
  background: #fff;
  /* height: 900px; */
  height: auto;
}
.contain-about {
  background-color: #fff;
  height: 630px;
}
.span-menu {
  font-family: "MontserratRegular";
  /* color: #b9bcc3; */
  font-size: 12px;
}
.btn-menu {
  background-color: #ffc23c;
  border: none;
  width: 230px;
  height: 60px;
  color: #fff;
  font-family: "Montserrat";
  border: 1px solid dotted;
}
.img-client {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
.contain-happyClient {
  height: 430px;
  background-color: #fa2fb5;
}
.contain-table {
  height: 630px;
  background-color: #fff;
}
.img-table {
  width: 430px;
  height: auto;
}

.card-table {
  /* position: relative; */
  width: 100%;
  /* max-width: 400px; */
  height: auto;
  /* background-color: red; */
  margin-top: 120px;
}

/* Make the image to responsive */
.img-table {
  width: 100%px;
  height: auto;
  /* margin: auto; */
}
.called {
  font-family: "Montserrat";
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
.reservation {
  color: #fa2fb5;
}
.col-img {
  /* background-color: red; */
  /* margin-top: 120px; */
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */

/* When you mouse over the container, fade in the overlay icon*/

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  /* font-size: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.text-overlay:hover {
  color: #eee;
  font-size: 12px;
}
.zoom {
  /* padding: 50px; */
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(0.9);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* ----------------------FORMULAIRE------------------------------- */
:focus {
  outline: none;
}

.content {
  width: 500px;
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid #929fba;
  color: #b9bcc3;
}
::placeholder {
  color: #b9bcc3;
  font-family: "Montserrat", sans-serif;
}
.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}
.app {
  width: 98px;
  height: 98px;
}

.input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}

.border {
  border: 1px solid #4285f4 !important;
}
.icone {
  margin-left: -40px;
  position: absolute;
  color: #b9bcc3;
}
.contain-title {
  /* background: red; */
  height: 230px;
}
/* -----------------------Happy Client-------------------------------- */

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  /* background: #fff !important; */
  color: white;
  height: 100%;
}

.carousel .slide img {
  width: 98px !important;
  height: 98px;
  border-radius: 50%;
}

.myCarousel {
  /* margin-top: -6%; */
  /* width: 54%; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  /* padding-bottom: 8%; */
  padding-left: 5%;
  padding-right: 5%;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}
.name-client {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
}


.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 22px !important;
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  /* max-height: 67px; */
}

.myCarousel p:before {
  content: " “  ";
  color: #fff;
  font-size: 36px;

  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: " ” ";
  color: #fff;
  font-size: 36px;
  font-family: monospace;
  font-weight: 100;
  line-height: 1;
}

.carousel .control-dots .dot {

  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  height: 50px !important;
  color: #fff;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

/* ----------------------------MEDIAS QUERIES------------------ */
@media screen and (max-width: 992px) {
  .list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contain-foodMenu {
    background-position: left bottom;
  }
  /* --------------NAVBAR------------------- */

  .hamburger {
    display: block;
  }
 
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
   
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
  .container-contact {
    height: auto;
  }
  
  .section-menu {
    height: auto;
    background: red;
  }

  .contact {
    height: auto;
    margin: 0;
  }
  .foodmenu {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .img-table {
    text-align: center;
  }
  .contain-table {
    width: 100%;
    height: 990px;
    display: flex;
    flex-direction: column;
  }
  .footer {
    height: 790px;
    border: none;
  }
  .contain-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 890px;
  }
  .img-signature {
    margin-bottom: 67px;
  }
  .cardMenu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 134px;
  }

  .header {
    width: 100%;
    padding: auto;
    margin: auto;
    height: 800px;
  }
  .contain-foodMenu{

    height: auto;
    margin-top: 30px;
    /* background-color: red; */
  }
.contain-menu{
  /* margin-top: 760px; */
  height: auto;
  /* background-color: red; */
}
.p{
  /* background: red; */
  height: 190px;
}
.btn-footer{
  margin-bottom: 13px;
}
  /* ------------------------HAPPY CLIENT ----------------------- */
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }
.contain-happyClient{
display: flex;
justify-content: center;
align-items: center;
  height: 580px;
}
 
  .myCarousel {
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
  
  }

 
}






/* Animation */

.geeks {
  /* width: 20%; */
  /* top: 50%; */
  /* position: absolute; */
  /* left: 40%; */
  overflow: hidden;
  animation: animate 2s linear forwards;
}



@keyframes animate {
  0% {
      width: 100px;
      height: 100px;
  }
  30% {
      width: 100px;
      height: 100px;
  }
  60% {
      width: 100px;
      height:100px;
  }
}