body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  @font-face {
    font-family: "Flow";
    src: local("Flow"),
     url("./Components/fonts/Flow.otf") format("truetype");
    /* font-weight: bold; */
    }

    @font-face {
      font-family: "MontserratRegular";
      src: local("MontserratRegular"),
       url("./Components/fonts/Montserrat-Regular.ttf") format("truetype");
      /* font-weight: bold; */
      }


      /* 774544351 */